.body-box {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 58px 1fr 584px 1fr;
  grid-template-columns: 1fr 444px 1fr;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
  background: url(../img/background-img.jpeg) no-repeat center fixed;
  background-size: cover;
}

/* HEADER */

.nav-bar {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 79px 0 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.logo {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.log-in-header-text {
  font-size: 14px;
  line-height: 19px;
  padding-left: 27px;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.calendar-icon {
  position: absolute;
  width: 21px;
  height: 24px;
  right: 405px;
  bottom: 17px;
}

.mail-icon {
  position: absolute;
  width: 23px;
  height: 23px;
  right: 355px;
  bottom: 17px;
}

.nav-icon {
  position: absolute;
  width: 23px;
  height: 23px;
  right: 308px;
  bottom: 17px;
}

@media (max-width: 700px) {
  .calendar-icon,
  .mail-icon,
  .nav-icon {
    display: none;
  }
}

.nav-bar:hover {
  box-shadow: none;
}

.logo:hover,
.log-in-link:hover {
  color: #3cb878;
}

.logo:active,
.log-in-link:active {
  color: #01813f;
}

.icon:hover {
  position: relative;
  bottom: 4px;
  left: 0;
}

.icon:active {
  filter: invert(58%) sepia(62%) saturate(406%) hue-rotate(96deg)
    brightness(93%) contrast(93%);
}

/* MAIN */

.main-box {
  position: relative;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  background-color: #ffffff;
  padding: 0 60px 0 60px;
}

.society-log-box {
  height: 47px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.mini-header {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.second-log-in-link {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.second-log-in-link:hover {
  text-decoration: underline;
}

.second-log-in-link:active {
  color: #01813f;
}

.society-buttons-box {
  display: flex;
  justify-content: space-between;
  padding: 14px 0 0 0;
}

.soc-button {
  position: relative;
  width: 157px;
  height: 46px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.facebook {
  background-color: #305db8;
}

.facebook:active {
  background-color: #022263;
}

.facebook-icon {
  height: 24px;
  width: 13px;
  margin: 0 18px 0 16px;
}

.facebook-text {
  height: 28px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 18px;
  border-left: 1px solid rgba(10, 22, 47, 0.1);
  display: flex;
  align-items: center;
}

.google {
  background-color: #df4a32;
}

.google:active {
  background-color: #ab1f09;
}

.google-icon {
  width: 30px;
  height: 19px;
  margin: 0 7px 0 12px;
}

.google-text {
  height: 28px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 30px;
  border-left: 1px solid rgba(10, 22, 47, 0.1);
  display: flex;
  align-items: center;
}

.green-box {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 29px;
  left: 0;
  background-color: #3cb878;
}

/* FORM */

.form-box {
  margin-top: 33px;
}

.fieldset-box {
  padding: 10px 0 0 0;
  border-top: 1px solid #f2f2f2;
}

.legend-text {
  width: 15px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #848484;
  margin: 0 auto;
}

.input-box {
  width: 324px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 20px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  transition: box-shadow 0.3s ease-in-out 0.1s;
}

.fieldset-box .input-box:first-of-type {
  margin-top: 0;
}

.input-box:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.terms-box {
  position: relative;
  height: 44px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.terms-box label {
  cursor: default;
}

.check-box {
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
}

.terms-link {
  color: #3cb878;
}

.terms-link:hover {
  text-decoration: underline;
}

.terms-link:active {
  color: #01813f;
}

.submit-button {
  display: flex;
  width: 324px;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(60, 184, 120, 0.8);
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.submit-button:active {
  background-color: #01813f;
}

.check-box:checked::after {
  content: url(../img/check-icon.svg);
  position: absolute;
  width: 14px;
  height: 14px;
  top: 14px;
  left: 4px;
}
